In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Joining and Appending df').getOrCreate()
spark

In [14]:
values_p = [("Koala",1,'Yes'),("Caterpillar",2,"Yes"),("Deer",3,"Yes"),("Human",4,"Yes")]
eat_plants = spark.createDataFrame(values_p,["Name","id","eats_plants"])

values_m = [("Shark",6,"Yes"),("Lion",5,"Yes"),("Tiger",7,"Yes"),("Human",4,"Yes")]
eat_meats = spark.createDataFrame(values_m,["Name","id","eats_meat"])

In [15]:

eat_plants.show()
print('eats plants')

+-----------+---+-----------+
|       Name| id|eats_plants|
+-----------+---+-----------+
|      Koala|  1|        Yes|
|Caterpillar|  2|        Yes|
|       Deer|  3|        Yes|
|      Human|  4|        Yes|
+-----------+---+-----------+

eats plants

In [16]:
eat_meats.show()
print('eat meat')

+-----+---+---------+
| Name| id|eats_meat|
+-----+---+---------+
|Shark|  6|      Yes|
| Lion|  5|      Yes|
|Tiger|  7|      Yes|
|Human|  4|      Yes|
+-----+---+---------+

eat meat

In [17]:
new_df = eat_plants

In [18]:
df_append = eat_plants.union(new_df)

APPENDS TO THE SAME NAME TABLE

In [20]:
df_append.show()

+-----------+---+-----------+
|       Name| id|eats_plants|
+-----------+---+-----------+
|      Koala|  1|        Yes|
|Caterpillar|  2|        Yes|
|       Deer|  3|        Yes|
|      Human|  4|        Yes|
|      Koala|  1|        Yes|
|Caterpillar|  2|        Yes|
|       Deer|  3|        Yes|
|      Human|  4|        Yes|
+-----------+---+-----------+

# Inner join

In [21]:
inner_join = eat_plants.join(eat_meats,["Name","id"],"inner")
inner_join.show()

+-----+---+-----------+---------+
| Name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|Human|  4|        Yes|      Yes|
+-----+---+-----------+---------+

In [22]:
inner_join = eat_plants.join(eat_meats,["Name"],"inner")
inner_join.show()

+-----+---+-----------+---+---------+
| Name| id|eats_plants| id|eats_meat|
+-----+---+-----------+---+---------+
|Human|  4|        Yes|  4|      Yes|
+-----+---+-----------+---+---------+

# Left Join

In [23]:
left_join = eat_plants.join(eat_meats,["Name","id"],"left")
left_join.show()

+-----------+---+-----------+---------+
|       Name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      Human|  4|        Yes|      Yes|
|       Deer|  3|        Yes|     null|
|Caterpillar|  2|        Yes|     null|
|      Koala|  1|        Yes|     null|
+-----------+---+-----------+---------+

# Right Join

In [24]:
right_join = eat_plants.join(eat_meats,["Name","id"],"right")
right_join.show()

+-----+---+-----------+---------+
| Name| id|eats_plants|eats_meat|
+-----+---+-----------+---------+
|Human|  4|        Yes|      Yes|
|Tiger|  7|       null|      Yes|
|Shark|  6|       null|      Yes|
| Lion|  5|       null|      Yes|
+-----+---+-----------+---------+

Eats Exclusively plants

In [25]:
cond_join = eat_plants.join(eat_meats,["Name","id"],"left").filter(eat_meats.Name.isNull())
cond_join.show()

+-----------+---+-----------+---------+
|       Name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|       Deer|  3|        Yes|     null|
|Caterpillar|  2|        Yes|     null|
|      Koala|  1|        Yes|     null|
+-----------+---+-----------+---------+

In [31]:
eat_meats.select(eat_meats.Name.isNull()).show()

+--------------+
|(Name IS NULL)|
+--------------+
|         false|
|         false|
|         false|
|         false|
+--------------+

# Full outer joins

In [32]:
full_join = eat_plants.join(eat_meats,["Name","id"],"full")
full_join.show()

+-----------+---+-----------+---------+
|       Name| id|eats_plants|eats_meat|
+-----------+---+-----------+---------+
|      Human|  4|        Yes|      Yes|
|      Tiger|  7|       null|      Yes|
|       Deer|  3|        Yes|     null|
|      Shark|  6|       null|      Yes|
|       Lion|  5|       null|      Yes|
|Caterpillar|  2|        Yes|     null|
|      Koala|  1|        Yes|     null|
+-----------+---+-----------+---------+

#  IMPORTING FROM ONE FOLDER

In [70]:
import os
path = 'uw-madison-courses/'

In [63]:
df_lists = []
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        file_name_list = filename.split('.')
        df_name = file_name_list[0]
        print(df_name)
        df = spark.read.csv(path + filename,inferSchema=True,header = True)
        df.name = df_name
        print(df.name)
        df_lists.append(df_name)
        exec(df_name + "= df")
        df.show(2)

courses
courses
+--------------------+--------------------+------+
|                uuid|                name|number|
+--------------------+--------------------+------+
|a3e3e1c3-543d-3bb...|Cooperative Educa...|     1|
|c070a84f-648f-351...|Cooperative Educa...|     1|
+--------------------+--------------------+------+
only showing top 2 rows

course_offerings
course_offerings
+--------------------+--------------------+---------+--------------------+
|                uuid|         course_uuid|term_code|                name|
+--------------------+--------------------+---------+--------------------+
|344b3ebe-da7e-314...|a3e3e1c3-543d-3bb...|     1092|Cooperative Educa...|
|f718e6cd-33f0-3c1...|a3e3e1c3-543d-3bb...|     1082|Cooperative Educa...|
+--------------------+--------------------+---------+--------------------+
only showing top 2 rows

grade_distributions
grade_distributions
+--------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
|course_offering_uuid|section_number|a_count|ab_count|b_count|bc_count|c_count|d_count|f_count|s_count|u_count|cr_count|n_count|p_count|i_count|nw_count|nr_count|other_count|
+--------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
|344b3ebe-da7e-314...|             1|    105|       0|      0|       0|      0|      0|      0|      0|      0|       0|      0|      0|      0|       0|       0|          0|
|f718e6cd-33f0-3c1...|             1|    158|       0|      0|       0|      0|      0|      0|      0|      0|       0|      0|      0|      1|       0|       0|          0|
+--------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
only showing top 2 rows

instructors
instructors
+-------+----------------+
|     id|            name|
+-------+----------------+
| 761703|JOHN ARCHAMBAULT|
|3677061|  STEPHANIE KANN|
+-------+----------------+
only showing top 2 rows

rooms
rooms
+--------------------+-------------+---------+
|                uuid|facility_code|room_code|
+--------------------+-------------+---------+
|04368a56-c959-3e4...|   OFF CAMPUS|     null|
|2cc50da3-ef0e-357...|         0032|     0249|
+--------------------+-------------+---------+
only showing top 2 rows

schedules
schedules
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|                uuid|start_time|end_time|  mon| tues|  wed|thurs|  fri|  sat|  sun|
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|f2d66a4d-0c08-3b4...|        -1|      -1|false|false|false|false|false|false|false|
|875542a2-f786-34d...|       530|     580| true|false| true|false|false|false|false|
+--------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 2 rows

sections
sections
+--------------------+--------------------+------------+------+---------+--------------------+
|                uuid|course_offering_uuid|section_type|number|room_uuid|       schedule_uuid|
+--------------------+--------------------+------------+------+---------+--------------------+
|45adf63c-48c9-365...|344b3ebe-da7e-314...|         FLD|     1|     null|f2d66a4d-0c08-3b4...|
|c6280e23-5e43-385...|f718e6cd-33f0-3c1...|         FLD|     1|     null|f2d66a4d-0c08-3b4...|
+--------------------+--------------------+------------+------+---------+--------------------+
only showing top 2 rows

subjects
subjects
+----+------------+------------+
|code|        name|abbreviation|
+----+------------+------------+
| 908|Soil Science|    SOIL SCI|
| 350|     ENGLISH|     ENGLISH|
+----+------------+------------+
only showing top 2 rows

subject_memberships
subject_memberships
+------------+--------------------+
|subject_code|course_offering_uuid|
+------------+--------------------+
|         220|344b3ebe-da7e-314...|
|         320|344b3ebe-da7e-314...|
+------------+--------------------+
only showing top 2 rows

teachings
teachings
+-------------+--------------------+
|instructor_id|        section_uuid|
+-------------+--------------------+
|       761703|45adf63c-48c9-365...|
|       761703|c6280e23-5e43-385...|
+-------------+--------------------+
only showing top 2 rows

In [81]:
subjects.show(1)

+----+------------+------------+
|code|        name|abbreviation|
+----+------------+------------+
| 908|Soil Science|    SOIL SCI|
+----+------------+------------+
only showing top 1 row

In [82]:
course_offerings.show(1,False)

+------------------------------------+------------------------------------+---------+--------------------------+
|uuid                                |course_uuid                         |term_code|name                      |
+------------------------------------+------------------------------------+---------+--------------------------+
|344b3ebe-da7e-314c-83ed-9425269695fd|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1092     |Cooperative Education Prog|
+------------------------------------+------------------------------------+---------+--------------------------+
only showing top 1 row

In [83]:
instructors.show(1)

+------+----------------+
|    id|            name|
+------+----------------+
|761703|JOHN ARCHAMBAULT|
+------+----------------+
only showing top 1 row

In [84]:
exec("print('hello')")

hello

In [88]:
sec_id = teachings.withColumnRenamed('section_uuid','uuid').join(sections,'uuid','left')

In [90]:
sec_id = sec_id.select("uuid",'instructor_id','course_offering_uuid')

In [91]:
sec_id.show()

+--------------------+-------------+--------------------+
|                uuid|instructor_id|course_offering_uuid|
+--------------------+-------------+--------------------+
|00057a03-1175-322...|      3011916|f850ab24-740c-311...|
|00404b87-67ec-3f8...|      4189627|7e213b2b-c58b-301...|
|00614cd5-429c-321...|      4395486|3beb7bd7-4877-3c6...|
|007ef052-52cd-3f9...|      3800611|db253216-2e66-326...|
|00acf3a3-061e-306...|      3922816|0cf737a4-653d-361...|
|00b3a92c-fdc1-369...|       555884|f56ecceb-5b63-3fa...|
|00bf99c8-267b-30e...|      4591139|101434f8-bf7a-3a7...|
|00d051ed-9aac-392...|       944218|1e1d6814-98d2-3f2...|
|00fca91c-17be-343...|      4282248|e0e855a9-4c38-391...|
|010975cf-f571-323...|      3474609|0c21c829-3a58-33c...|
|0140dc65-fabb-3b4...|      3856846|d8958860-1ff5-3e1...|
|01976f3e-21d5-3e5...|      3374489|e6c9fd91-ea45-36b...|
|019eef9a-6ec6-35e...|      2601630|3d3a639f-2b17-35e...|
|01a1fe73-35a2-385...|      4604387|85137c05-9fef-37c...|
|01a64072-bcc7-351...|      2600548|1273b744-78aa-37b...|
|01b0c34b-2251-3ac...|       689596|26d12f2f-a59d-37f...|
|01c3b9c0-e3c0-321...|      4164082|2a2ef68d-eb3b-3ad...|
|02405596-a66a-3c1...|      3182121|1b83210b-b0cd-315...|
|0315b9ae-f54c-3e2...|      5524082|a723f1f3-2e07-3e9...|
|031c0d6d-6675-36e...|      4615858|18956326-9bff-3dd...|
+--------------------+-------------+--------------------+
only showing top 20 rows

In [92]:
teach = sec_id.withColumnRenamed('instructor_id','id').join(instructors,'id','left')

In [110]:
teach.show(5)

+-------+--------------------+--------------------+-------------------+
|     id|                uuid|course_offering_uuid|               name|
+-------+--------------------+--------------------+-------------------+
|3011916|00057a03-1175-322...|f850ab24-740c-311...|       THOMAS JAHNS|
|4189627|00404b87-67ec-3f8...|7e213b2b-c58b-301...|JEAN-FRANCOIS HOUDE|
|4395486|00614cd5-429c-321...|3beb7bd7-4877-3c6...|CHRISTOPHER R TABER|
|3800611|007ef052-52cd-3f9...|db253216-2e66-326...|    MARISA S OTEGUI|
|3922816|00acf3a3-061e-306...|0cf737a4-653d-361...|         HUIFANG XU|
+-------+--------------------+--------------------+-------------------+
only showing top 5 rows

In [111]:
course_with_teacher = teach.select('id','course_offering_uuid','name')

In [112]:
course_with_teacher.show()

+-------+--------------------+-------------------+
|     id|course_offering_uuid|               name|
+-------+--------------------+-------------------+
|3011916|f850ab24-740c-311...|       THOMAS JAHNS|
|4189627|7e213b2b-c58b-301...|JEAN-FRANCOIS HOUDE|
|4395486|3beb7bd7-4877-3c6...|CHRISTOPHER R TABER|
|3800611|db253216-2e66-326...|    MARISA S OTEGUI|
|3922816|0cf737a4-653d-361...|         HUIFANG XU|
| 555884|f56ecceb-5b63-3fa...|        JOHN RAUSCH|
|4591139|101434f8-bf7a-3a7...|           XIAO GUO|
| 944218|1e1d6814-98d2-3f2...|    JOHN HARRINGTON|
|4282248|e0e855a9-4c38-391...|       ANJALI MISRA|
|3474609|0c21c829-3a58-33c...|      MARLA M HANDY|
|3856846|d8958860-1ff5-3e1...|     TIMOTHY ROGERS|
|3374489|e6c9fd91-ea45-36b...|           BEN SHEN|
|2601630|3d3a639f-2b17-35e...|  MARIA MUNIAGURRIA|
|4604387|85137c05-9fef-37c...|   RAVI BALIJEPALLI|
|2600548|1273b744-78aa-37b...|      DANIEL D LOEB|
| 689596|26d12f2f-a59d-37f...|   ROXANN ENGELSTAD|
|4164082|2a2ef68d-eb3b-3ad...|         OZGUR ISIL|
|3182121|1b83210b-b0cd-315...|    KIRSTIN NACKERS|
|5524082|a723f1f3-2e07-3e9...|        MELODY SAIN|
|4615858|18956326-9bff-3dd...|    RICHARD HALBERG|
+-------+--------------------+-------------------+
only showing top 20 rows

In [115]:
course_id_new = course_with_teacher.withColumnRenamed('course_offering_uuid','uuid').withColumnRenamed('name','Teacher_Name')\
                     .join(course_offerings,'uuid','left')

In [118]:
course_id_new.limit(5).toPandas()

,uuid,id,Teacher_Name,course_uuid,term_code,name
0,f850ab24-740c-311a-a669-804a3fea7b0b,3011916,THOMAS JAHNS,2c3a2a38-9f53-3cfb-8f37-cde4cb3d4b4b,1074,Master's Research or Thesis
1,7e213b2b-c58b-3014-b3d1-01c0f7ed46ef,4189627,JEAN-FRANCOIS HOUDE,622a73dc-c070-38e4-8ba8-2b2c3f7a1056,1082,Wrkshp-Industrl Organizatn
2,3beb7bd7-4877-3c63-8afc-62f8b74e72fc,4395486,CHRISTOPHER R TABER,685a727c-fdc0-3ba6-b521-1f236f69b5fa,1164,Workshop - Public Economics
3,db253216-2e66-3267-86b2-7b9f5fe07223,3800611,MARISA S OTEGUI,abc31e90-8a8f-37bf-9fe0-bacd53aa2a1f,1084,Plant Cell Biology
4,0cf737a4-653d-3619-98ae-758f460df07f,3922816,HUIFANG XU,cf22b778-88fa-30fe-b871-180e7c36ed97,1144,Interfacial Biogeochemistry